@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wallet-adapter-button {
  background-color: #9945FF;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
}

.wallet-adapter-button:hover {
  background-color: #8035ee;
}

.wallet-adapter-button-trigger {
  background-color: #9945FF;
}

.wallet-adapter-dropdown-list {
  background: #2d3748;
}

.wallet-adapter-dropdown-list-item:hover {
  background-color: #4a5568;
}
